#carry:hover {
    cursor: pointer;
}

#no-carry:hover {
    cursor: pointer;
}

@keyframes fade {
    0%   { opacity: 1; }
    50%   { opacity: 1; }
    100% { opacity: 0; }
  }

#copyNotification {
    background: #daffda;
    color: rgb(80, 80, 80);
}

#copyNotification.run-animation {
    animation: fade 3s forwards;
}

input {
    width: 80px;
}